.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    /* width: 140px; */
    width: 120px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 14px;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

@media only screen and (max-width: 700px) {
    .header__optionLineOne {
        font-size: 10px;
    }

    .header__logo {
        width: 70px;
    }

    .header__optionLineTwo {
        font-size: 13px;
        font-weight: 800;
    }
}

@media only screen and (max-width: 500px) {
    .header__optionLineOne {
        font-size: 9px;
    }

    .header__logo {
        width: 70px;
    }

    .header__optionLineTwo {
        font-size: 12px;
        font-weight: 800;
    }
}